@use "./breakpoints" as *;
@use "./variables" as *;

@mixin container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  }
}